# {{ ansible_managed }}
/var/log/nginx/*.log {
  daily
  missingok
  rotate 14
  compress
  delaycompress
  notifempty
  create 640 www-data adm
  sharedscripts
  firstaction
    service rsyslog stop
  endscript
  postrotate
    [ -f /var/run/nginx.pid ] && kill -USR1 $(cat /var/run/nginx.pid)
  endscript
  lastaction
    service rsyslog start
  endscript
}
